ion-item:hover {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-primary); 
}

ion-item {
  --padding-start: 20px;
}

ion-item::part(detail-icon) {
  color: "#ff00ff";
  opacity: 1;
}